/* ---------------------------------
         Poppins-front
--------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Lobster&family=Montserrat:wght@400;500;700&family=Open+Sans:ital,wght@1,700&family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* --------------------start-top-banner----------------- */
.container {
    width: 1350px;
}

main {
    overflow: hidden;
}

.top-section {
    display: flex;
    justify-content: center;
}

.top-banner {
    display: flex;
    align-items: center;
    background-color: #161616;
    border-radius: 30px;
    margin-top: 50px;
    height: 540px;
    margin-bottom: 130px;
    width: 1200px;
}

.top-banner .banner-btn a:hover {
    transition: 1s;
    color: #DD0000;
    background-color: rgb(101, 58, 180);
}

.banner-content {
    padding: 0 48px;
}

.banner-content h2 {
    font-size: 70px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 80px;
    margin-bottom: 20px;
}

.banner-content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 30px;
    width: 506px;
}


.banner-content .banner-btn a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    padding: 8px 16px;
    background-color: #DD0000;
    border-radius: 5px;
}

.top-banner .banner-img img {
    width: 581px;
    padding: 0 30px;
}

.fa-chevron-right {
    font-size: 16px;
}

/* ----------------------------------------
                 blog-start
---------------------------------------- */
.blog-parrent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-section .blog-btn {
    margin-right: 8px;
}

.blog-btn {
    background-color: #161616;
    height: 280px;
    border-radius: 5px;
}

.blog-btn button {
    width: 175px;
    margin: 20px 9px;
    padding: 10px 0px;
    border-radius: 5px;
}

.blog-style a {
    color: #ffffff;
}

.blog-style {
    background-color: #DD0000;
}

.blog-btn button:hover {
    background-color: #DD0000;
    transition: 2s;
}

.blog-btn button a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: #161616;
}

.blog-section {
    display: flex;
    width: 1200px;
    justify-content: center;
}

.grid-conatiner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 24px;
    grid-column-gap: 13px;
}

.grid-item {
    box-shadow: 5px 7px 50px gray;
    border-radius: 5px;
}

.blogs-info {
    padding: 10px;
}

.grid-item .blogs-info img {
    width: 312px;
    margin-bottom: 20px;
}

.grid-item .blog-button a {
    text-decoration: none;
    border: 1px solid #161616;
    padding: 5px 14px;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #161616;
    animation-name: button;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}

/* --------------------------
       animation
-------------------------- */
@keyframes button {
    from {
        background-color: rgb(180, 218, 218);
    }

    to {
        background-color: #949096;
    }
}

.grid-item h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.grid-item .blog-icon .fa-clock {
    margin-right: 20px;
    background-color: #ffffff;
    color: #676e7a;
}

.grid-item .blog-icon .fa-comment-dots {
    margin-left: 30px;
    margin-right: 20px;
    color: #676e7a;
}

.grid-item .blog-icon span {
    margin-right: 20px;
    font-size: 16px;
    font-weight: 400;
}

/* ---------------------------------------- 
              footer-start
 ---------------------------------------- */
.footer-section {
    background-color: #161616;
    margin-top: 50px;
    text-align: center;
}

.fotter-title h2 {
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #FFFFFF;
    padding: 20px 0;
}

.horizentale {
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 80%;
    margin: 0 auto;
}

.footer-section .footer-contacts {
    display: flex;
    margin-top: 30px;
    margin-bottom: 20px;
    justify-content: center;
}

.social-icons a {
    margin-right: 30px;
    color: rgb(73, 73, 235);
}

.social-icons a:hover {
    color: rgb(112, 209, 233);
}

.footer-section .footer-contacts li {
    list-style: none;
    margin-right: 15px;
}

.footer-section .footer-contacts li a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 50px;
    color: #B9B9B9;
    transition: 2s;
}

.footer-section .footer-contacts li a:hover {
    color: #ffffff;
    transition: 2s;
    font-size: 18px;
}

.footer-section ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

/* ----------------------responsive-design-------------------- */

/* Mobile-device */

@media only screen and (max-width: 600px) {

    .top-banner {
        flex-direction: column;
    }

    .footer-section ul {
        flex-direction: column;
    }

    .blog-section {
        flex-direction: column;
    }

    .grid-conatiner {
        grid-template-columns: 1fr;
    }

    .container {
        width: unset;
    }

    .blog-btn {
        background-color: unset;
        height: unset;

    }

    .grid-item .blogs-info img {
        width: 100%;
    }

    .banner-content h2 {
        font-size: 23px;
        line-height: unset;
        width: 228px;
    }

    .banner-content .banner-btn a {
        font-size: 14px;
    }

    .banner-content p {
        font-size: 10px;
        line-height: unset;
        width: 258px;
    }

    .banner-content {
        text-align: center;
        margin-top: 30px;
    }

    .top-banner .banner-img {
        margin-top: 10px;
    }

    .top-banner .banner-img img {
        width: 100%;
    }

    .top-banner {
        height: 630px;
        margin-bottom: unset;
        width: 371px;
    }
}

.blog-section .blog-btn {
    margin-right: unset;
    text-align: center;
}

.footer-contacts {
    display: grid;
    grid-template-columns: 1fr;
    display: block;
}

.blog-btn button:hover {
    width: 100%;
    margin: 20px 0px;
}

.top-banner {
    margin-top: 10px;
}

.blog-btn button {
    width: 262px;
}

/* ----------------end--------------------- */

/* -------------------------------------
        tablet-design
------------------------------------ */

@media only screen and (min-width:600px) and (max-width:1023px) {
    .blog-section {
        display: unset;
    }

    .grid-conatiner {
        grid-template-columns: repeat(2, 1fr);

    }

    .blog-btn {
        background-color: unset;
        height: unset;
    }

    main {
        overflow: hidden;
    }

    .container {
        width: unset;
        padding: 0 80px;

    }

    .grid-item .blogs-info img {
        width: unset;
        width: 100%;
    }

    .blog-section .blog-btn {
        margin-right: unset;
        text-align: center;
        display: flex;
        justify-content: space-between;
    }

    .top-banner {
        margin-top: 10px;
        margin-bottom: unset;
    }

    .banner-content h2 {
        line-height: unset;
        font-size: 30px;
    }

    .blog-btn button {
        margin: 50px 9px;
    }

    .top-banner .banner-img img {
        width: unset;
        width: unset;
        margin-top: 206px;
    }

    .banner-content p {
        width: 325px;
    }

    .top-banner {
        width: 774px;
    }

}

/* --------------------end------------------------- */